<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.archiviststoolkit.plugin.demo1.atplugindemo1" version="0.0.1"
class="org.archiviststoolkit.plugin.demo1.ATPluginDemo1">
	<runtime>
	  <library id="atplugindemo1" path="/" type="code"/>
  </runtime>
</plugin>