<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.archiviststoolkit.plugin.batchdo" version="1.0.0"
class="org.archiviststoolkit.plugin.BatchDO">
	<runtime>
	  <library id="batchdo" path="/" type="code"/>
  </runtime>
</plugin>